.nav{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    padding-top: 45px;
    left: 5px;
}

.navList{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.nav a{
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
}

